# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Logs
*.log

# MacOS
.DS_Store

# Unit test / coverage reports
.pytest_cache/
